# Environment files & secrets
.env
*.env

# Python & Pytest
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Virtual environment
.venv/
venv/
ENV/

# Build & packaging
*.egg-info/
dist/
build/

# Streamlit & IDE
.streamlit/secrets.toml
.vscode/
.idea/